<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.UserDao">
    <!--查询单个-->
    <select id="loadUserByUsername" resultType="com.example.entity.User">
        select id,
               username,
               password,
               nickname,
               enabled,
               accountNonExpired,
               accountNonLocked,
               credentialsNonExpired
        from user
        where username = #{username}
    </select>

    <select id="getAllUser" resultType="com.alibaba.fastjson.JSONObject">
        select id,
               username,
               nickname,
               enabled,
               accountNonExpired,
               accountNonLocked,
               credentialsNonExpired
        from user
    </select>


    <update id="updatePassword">
        update `user` set password=#{password}
        where username=#{username}
    </update>
</mapper>